<html>
  <head>
    <title>Money Tracker</title>
    <style>
      *{
        margin: 0;
        padding: 0;
      }
      body{
        background-image: url("/img/paper.jpg");
        font-family:Monospace;
        font-size: 120%;
      }

      label{
        margin: 1px;
      }
      input{
        border: 0px;
        font-family: inherit;
        margin: 10px;
      }
    </style>
  </head>
  <body>
    <div id="content">
      <div id="messages">
        <% if !flash[:notice].nil? %>
          <%= flash[:notice] %>
        <% elsif !flash[:alert].nil? %>
        <%= flash[:alert]%>
      <% end %>
    </div>
    <%= yield %>
  </div>
</body>
</html>
