<form action="/login" method="POST">
  <fieldset>
    <legend>Sign In</legend>
    <label>Email : </label>
    <input type="text" name="email" />

    <label>Password :</label>
    <input type="password" name="password" />
    <br />
    <input type="submit" value="Sign In" class="btn">
  </fieldset>
</form>

<% unless @user.errors.full_messages.empty? %>
  <% @user.errors.full_messages.each do |message| %>
    <%= message %><br />
  <% end %>
<% end %>
<form action="/users/create" method="POST">
  <fieldset>
    <legend>Sign Up</legend>
    <label>Email : </label>
    <input type="text" name="user[email]" />

    <label>First Name : </label>
    <input type="text" name="user[first_name]" />

    <label>Last Name : </label>
    <input type="text" name="user[last_name]" />

    <label>Password :</label>
    <input type="password" name="user[password]" />

    <label>Confirm Password :</label>
    <input type="password" name="user[password_confirmation]" />
    <br />
    <input type="submit" value="Sign Up" class="btn">
  </fieldset>
</form>

